* {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Hanuman&family=Inter&family=Ruda:wght@400;500;800&display=swap');



textarea:focus,
input:focus {
    outline: 0;
}

html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #332C2F;
}


textarea,
input,
button,
label,
p,
a,
h1,
h2,
h4,
h3,
span,
select,
::placeholder {
    color: #ffffff;
    font-family: 'Ruda', sans-serif;
    font-size: 1.2vw;
}

a {
    text-decoration: none;
}


header {
    /*background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/back/11618866939_25-phonoteka_org-p-cherno-krasnii-fon-dlya-rabochego-stola-26.jpg);*/
    background-image: url(../img/Rectangle\ 2.png);
    background-size: cover;
    height: 100vh;
}


.tour,
.place,
.cab {
    width: 17%;
    font-size: 1.3vw;
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 4vw 2vw 0 2vw;
}


.place:hover,
.tour:hover,
.cab:hover,
.place:focus,
.tour:focus,
.cab:focus {
    background-color: #0700002a;
    padding: 0.5vw 0vw;
}


.nav1 {
    width: 30%;
    font-size: 1.8vw;
    letter-spacing: 0.1em;
    list-style: none;
    display: flex;
    margin-top: 3.7vw;
    justify-content: center;
    position: absolute;
}

.nav2 {
    width: 42%;
    font-size: 1.3vw;
    list-style: none;
    display: flex;
    margin-left: 58vw;
    margin-top: 4vw;
    justify-content: center;
    position: absolute;

}



.hedhed {

    display: flex;
    justify-content: center;
    padding-top: 15vw;
}

.headtext {
    width: 80%;
}

header h1 {
    font-family: 'Inter', serif;
    font-size: 11.3vw;
    letter-spacing: 0.35em;
    text-align: center;
    vertical-align: middle;
    font-weight: 400;
    background: linear-gradient(270deg, #5e3434 1%, #FFFEE2 49.97%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

header h2 {

    font-size: 2.1vw;
    margin-top: 4vw;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.1em;
    vertical-align: middle
}

 header button {
    box-sizing: border-box;
    position: absolute;
    width: 15vw;
    height: 3.4vw;
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid #FFFFFF;
    box-shadow: 0px 5px 4px rgba(255, 255, 255, 0.5);
    border-radius: 100px;
    font-weight: 500;
    font-size: 1.3vw;
    margin: 4vw 0 0 32vw;
    cursor: pointer;
}


.container1 {
    background: linear-gradient(180deg, #030303 0%, #332C2F 100%);
    display: flex;
    padding: 8vw;
    flex-direction: column;
}

.c1text {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 60%;
    margin-left: 17vw;

}

.c1text h2 {
    width: 55%;
    text-align: center;
    font-weight: 800;
    font-size: 2.4vw;
    letter-spacing: 0.1em;
}

.c1text p {
    text-align: center;
    line-height: 1.9vw;
    font-weight: 400;
    margin: 2vw;

}

.c1icons {
    display: flex;
    justify-content: center;
    margin: 2vw 0vw;
}

.c1ic {
    margin: 2vw 2vw;
    width: 15%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.c1ic img {
    margin: 0vw 2vw;
    height: 4vw;
}

.c1ic p {
    width: 50%;
    text-align: center;
    margin: 1vw 0;
    font-size: 1vw;
}

.c1ic input, select {
    background-color: #000000ad;
    border: #FFFFFF solid 0.1vw;
    font-size: 1vw;
    padding: 0.5vw;
    width: 80%;
    margin: 1vw 0;
}

.c1tours {
    display: flex;
    justify-content: center;
}

.c1img {
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.7) 0%, rgba(217, 217, 217, 0) 76.34%);
    height: 20vw;
    display: block;
    position: relative;
    width: 100%;
    content: '';
    margin-top: -20vw;
}

.c1tour img {
    height: 20vw;
    width: 48vw;
    object-fit: cover;
}

.c1tourtext {
    position: absolute;
    margin: -7.5vw 0 0 2vw;
}

.c1tourtext h4 {
    font-weight: 800;
    letter-spacing: 0.2em;
    font-size: 1.5vw;
}

.c1tourp {
    display: flex;
    margin-top: 1.6vw;

}

.c1tourp p {
    margin-right: 3vw;
    font-size: 1vw;
}

.container2 {
    background-image: url(../img/image\ 92.png);
    background-size: 100% 100%;
    background-blend-mode: multiply;
    background-color: #332C2F;
    padding-bottom: 10vh;

}

.container2 h2 {
    text-align: center;
    font-weight: 800;
    font-size: 2.4vw;
    letter-spacing: 0.1em;
}

.places {
    margin-top: 8vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.place1 {
    display: flex;
    width: 70vw;
    margin-bottom: 5vw;
}

.place1 div {
    height: 15.5vw;
    width: 29vw; 
}

.place1 img {
   height: 15.5vw;
   width: 29vw; 
   object-fit: cover;
}

.c2t1 {
    margin-left: 13vw;
    text-align: right;
}

.c2t1 h3 {
    font-weight: 800;
    font-size: 1.8vw;
    letter-spacing: 0.1em;
    margin-bottom: 3vw;
}

.c2t1 p {
    line-height: 2.1vw;
    letter-spacing: 0.05em;
}


.place2 {
    display: flex;
    width: 70vw;
    margin-bottom: 5vw;
}

.place2 div {
    height: 15.5vw;
    width: 29vw; 
 }

.place2 img {
   height: 15.5vw;
   width: 29vw; 
   background-size: cover;
}

.c2t2 {
    text-align: left;
    margin-right: 13vw;
}

.c2t2 h3 {
    font-weight: 800;
    font-size: 1.8vw;
    letter-spacing: 0.1em;
    margin-bottom: 3vw;
}

.c2t2 p {
    line-height: 2.1vw;
    letter-spacing: 0.05em;
}
.buttonPlases{
    border: 1px solid #FFFFFF;
    background-color: transparent;
    width: 14vw;
    height: 1.5vw;
    margin-left: 43vw;
    
    box-shadow: none;
}


.container3 {
    padding-top: 15vh;
    padding-bottom: 3vh;
background: linear-gradient(180deg, #201F23 0%, #2D2325 100%);
    background-position: center;
}

.container3 h2 {
    text-align: center;
    font-weight: 800;
    font-size: 2.4vw;
    letter-spacing: 0.1em;
    
}



.container4 {
    background-image: url(../img/Rectangle\ 58.png);
    background-size: 100% 100%;
    height: 20vw;
    padding: 10vh 0;
}

.c4icons {
    display: flex;
    justify-content: center;
    margin: 0vw 0vw;
}

.c4ic {
    margin: 0vw 1vw;
    width: 12%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.c4ic img {
    margin: 2vw 1vw;
    height: 4.5vw;
}

.c4ic p {
    width: 70%;
    text-align: center;
    margin: 1.5vw 0;
    font-size: 1.2vw;
    height: 5vw;
    vertical-align: middle
}


.container5{
    background: linear-gradient(180deg, #1D1823 46.64%, #C9B6BC 84.23%);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10vw;
}

.border{
height: 70vh;
border: none !important;
}

.c5gallery{
    margin-left: 10vw;
    position: absolute;
    width: 80%;
}

.gall{
    justify-content: center;
    flex-wrap: wrap;
width: 100%;
margin-top: 4.5vw;
}

.gall img{
width: 22vw;
height: 12vw;
object-fit: cover;
margin: 0.5vw;
}


.lev{
    border-radius: 5vw;
    border: solid 0.1vw #000000;
    height: 3.5vw;
    width: 3.5vw;
    padding-top: 0.3vw;
    padding-right: 0.3vw;
    position: absolute;
    margin-top: -15vw;
    margin-left: 1vw;

}

.prav img{
height: 1.5vw;
}

.prav{
    border-radius: 5vw;
    border: solid 0.1vw #000000;
    height: 3.5vw;
    width: 3.5vw;
    padding-top: 0.3vw;
    padding-right: 0.3vw;
    position: absolute;
    margin-top: -15vw;
    margin-left: 74.5vw;
    transform: rotate(180deg);

}

.lev img{
height: 1.5vw;
}



footer {
    background-image: url(../img/image\ 11.png);
    background-size: 100% 100%;
    height: 63vh;
padding: 2vw 0 0 0;
position: relative;
}

.svetl{
    
    margin-top: 2vw;
display: flex;
justify-content: center;
}

footer button {
    box-sizing: border-box;
    width: 15vw;
    height: 3.4vw;
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid #FFFFFF;
    border-radius: 25px;
    font-weight: 400;
    font-size: 1.3vw;
    margin: 6vw 2.5vw 0 2.5vw;
    cursor: pointer;
}

footer h2 {
    text-align: center;
    font-weight: 800;
    font-size: 2.4vw;
    letter-spacing: 0.1em;
    color: #000000;
    margin-top: 2vw;
}

.temn{
display: flex;
background-color: rgba(0, 0, 0, 0.4);
width: 100%;
margin-top: 3.5vw;
height: 12vw;
position: absolute;
bottom: 0;
}

.logo{
    margin-left: 10vw;
    margin-top: 3.5vw;
    height: 45%;
}


.icons {
    width: 20vw;
    margin-left: 39vw;
    margin-top: 6vw;
}

.icons img {
    height: 2.5vw;
    margin-left: 2.5vw;
}

footer p {
    margin-left: 2vw;
    font-size: 1vw;
    margin-top: 6vw;
}
.content-center{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.hidden{
    display: none;
}

*, ::after, ::before {
    box-sizing: content-box;
}


@media (max-width: 450px) {

    textarea,
    input,
    button,
    label,
    p,
    a,
    h1,
    h2,
    h4,
    h3,
    h5,
    span,
    select,
    ::placeholder {
        color: #ffffff;
        font-family: 'Ruda', sans-serif;
        font-size: 4vw;
    }

    header {
        /*background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/back/11618866939_25-phonoteka_org-p-cherno-krasnii-fon-dlya-rabochego-stola-26.jpg);*/
        background-image: url(../img/phone/Rectangle\ 2.png);
        background-size: cover;
        background-size: 100% 100%;
        height: 50vh;
    }
    
    
    .tour,
    .place,
    .cab {
        width: 57%;
        font-size: 3.5vw;
        color: rgb(255, 255, 255);
        text-decoration: none;
        margin: 4vw 2vw 0 2vw;
    }
    
    
    .place:hover,
    .tour:hover,
    .cab:hover,
    .place:focus,
    .tour:focus,
    .cab:focus {
        background-color: #0700002a;
        padding: 0.5vw 0vw;
    }
    
    
    .nav1 {
        width: 40%;
        letter-spacing: 0.1em;
        list-style: none;
        display: flex;
        margin-top: 7.7vw;
        justify-content: center;
        position: absolute;
    }
    
    .nav2 {
        width: 60%;
        list-style: none;
        display: flex;
        margin-left: 40vw;
        margin-top: 8vw;
        justify-content: center;
        position: absolute;
    
    }
    
    
    
    .hedhed {
    
        display: flex;
        justify-content: center;
        padding-top: 30vw;
    }

    header h1 {
        font-family: 'Inter', serif;
        font-size: 7.3vw;
        letter-spacing: 0.15em;
        text-align: center;
        vertical-align: middle;
        font-weight: 400;
        background: linear-gradient(270deg, #FFFEE2 1%, #FFFEE2 49.97%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
    
    header h2 {
    
        margin-top: 8vh;
        font-weight: 400;
        text-align: center;
        letter-spacing: 0.1em;
        vertical-align: middle;
            font-size: 14px;
            
            margin-left: 5vw;
        }
 
    
     header button {
        width: 25vw;
        height: 6.4vw;
        background: rgba(0, 0, 0, 0.5);
        border: 1px solid #FFFFFF;
        box-shadow: 0px 5px 4px rgba(255, 255, 255, 0.5);
        border-radius: 100px;
        font-weight: 500;
        font-size: 1.3vh;
        margin: 10vw 0 0 28vw;
    }
    





    .container1 {
        background: linear-gradient(180deg, #030303 0%, #332C2F 100%);
        display: flex;
        padding: 8vw;
        flex-direction: column;
    }
    
    .c1text {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 80%;
        margin-left: 9vw;
    
    }
    
    .c1text h2 {
        width: 90%;
        text-align: center;
        font-weight: 800;
        font-size: 16px;
        letter-spacing: 0.1em;
    }
    
    .c1text p {
        margin: 2vw;
        font-size: 10px;
        line-height: 5vw;
    }
    
    .c1icons {
        display: flex;
        justify-content:center;
        flex-wrap: wrap;
        margin: 2vw 0vw;
    }
    
    .c1ic {
        margin: 2vw 2vw;
        width: 80%;
        
        display: flex;
        justify-content: center;
    }
    
    .c1ic img {
        margin: 0vw 5vw 0 0;
        height: 4vh;
    }
    
    .c1ic p {
      display: none;
    }
    
    .c1ic input, select {
        background-color: #000000ad;
        border: #FFFFFF solid 0.1vw;
        width: 45%;
        font-size: 1vh;
        padding: 0.5vw;
        margin: 1vw 0;
    }
    
    .c1tours {
        display: flex;
        justify-content: center;
        margin-top: 5vw;
    }
    
    .c1img {
        background: linear-gradient(360deg, rgba(0, 0, 0, 0.8) 0%, rgba(217, 217, 217, 0) 76.34%);
        height: 100vw;
        display: block;
        position: relative;
        width: 100%;
        content: '';
        margin-top: -100vw;
        object-fit: cover;
    }
    
    .c1tour img {
        height: 100vw;
        width: 80vw;
    }
    
    .c1tourtext {
        position: absolute;
        margin: -17.5vh 0 0 6vw;
        width: 70%;
    }
    
    .c1tourtext h4 {
        font-weight: 800;
        letter-spacing: 0.2em;
        font-size: 16px;
    }
    
    .c1tourp {
        display: flex;
        margin-top: 4.6vh;
        
    }
    
    .c1tourp p {
        margin-right: 3vw;
        font-size: 12px;
    }





    .container2 {
        background-image: url(../img/image\ 92.png);
        background-size: 100% 100%;
        background-blend-mode: multiply;
        background-color: #332C2F;
        padding-bottom: 10vh;
        padding-top: 3vh;
    border: none;
    }
    
    .container2 h2 {
        width: 100%;
        text-align: center;
        font-weight: 800;
        font-size: 16px;
        letter-spacing: 0.1em;
    }
    
    .places {
        margin-top: 8vw;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    
    }
    
    .place1 {
        display: block;
        width: 70vw;
        margin-bottom: 5vh;
    }
    
    .place1 img {
        margin-right: 13vw;
        height: 40vw;
       width: 70vw; 
       object-fit: cover;
       margin-bottom: 3vh;
    }
    .place1 div {
        height: auto;
    }
    
    .c2t1 {
        margin-left: 0;
        text-align: center;
        width: auto!important;
    }
    
    .c2t1 h3 {
        font-weight: 400;
        font-size: 14px;
        letter-spacing: 0.1em;
        margin-bottom: 3vw;
    }
    
    .c2t1 p {
        line-height: 2.1vh;
        letter-spacing: 0.05em;
        font-size: 12px;
    }
    
    
    .place2 {
        display: block;
        width: 70vw;
        margin-bottom: 10vh;
        
    }
    
    .place2 img {
        margin-right: 13vw;
        height: 40vw;
       width: 70vw; 
       object-fit: cover;
       margin-bottom: 5vh;
       position: absolute;
       margin-top: -29vh;
    }
    
    .c2t2 {
        text-align: center;
        margin-top: 23vh;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-right: 0vw;
        width: auto!important;
    }
    
    .c2t2 h3 {
        font-weight: 400;
        font-size: 14px;
        letter-spacing: 0.1em;
        margin-bottom: 3vw;
    }
    
    .c2t2 p {
        line-height: 2.1vh;
        letter-spacing: 0.05em;
        font-size: 12px;
        width: 80vw;
    }
    .buttonPlases{
        border: 1px solid #FFFFFF;
        background-color: transparent;
        width: 50%;
        height: 2.5vh;
        margin-left: 25vw;
        
        box-shadow: none;
    }

    .buttonPlases img{
        height: 1.6vh;
    }
    



    .container3 {
        padding-top: 3vh;
        padding-bottom: 1vh;
    background: linear-gradient(180deg, #201F23 0%, #2D2325 100%);
        background-position: center;
    }
    
    .container3 h2 {
        width: 100%;
        text-align: center;
        font-size: 16px;
        
    }
    
    
    
    .container4 {
        background-image: url(../img/phone/Rectangle\ 59.png);
        background-size: 100% 100%;
        height: 120vh;
        padding: 5vh 0;
    }
    
    .c4icons {
        display: flex;
        justify-content: center;
        margin: 0vw 0vw;
        flex-wrap: wrap;
    }
    
    .c4ic {
        margin: 1.5vh 0vw;
        width: 100%;
        padding: 0 35%;
        display: block;
        justify-content: center;
    }
    
    .c4ic img {
        margin: 2vw 0vw;
        height: auto;
        width: 100%;
    }
    
    .c4ic p {
        width: 100%;
        text-align: center;
        margin: 1.5vw 0;
        font-size: 2vh;
        height: 5vh;
        vertical-align: middle
    }
    
    
    .container5{
        
        padding: 30vw 00vw;
    }
    
    .border{
    height: 37vh;
    }
    
    .c5gallery{
        margin-left: 6vw;
        position: absolute;
        width: 80%;
    }
    
    .gall{
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 5vh;
        margin-left: -1vw;
    }
    
    .gall img{
    width: 22vw;
    height: 22vw;
    object-fit: cover;
    margin: 1.5vw;
    }
    
    
    .lev{
       display: none;
    
    }
    
    
    .prav{
        display: none;
    
    }
    

    footer {
        background-image: url(../img/phone/image\ 11.png);
      
        height: 63vh;
    padding: 5vw 0 0 0;
    position: relative;
    }
    
    .svetl{
        
        margin-top: 2vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    }
    
    footer button {
        box-sizing: border-box;
        width: 30vw;
        height: 4vh;
        background: rgba(0, 0, 0, 0.5);
        border: 1px solid #FFFFFF;
        border-radius: 100px;
        font-weight: 400;
        font-size: 1.3vh;
        margin: 6vw 15vw 0 15vw;
        cursor: pointer;
    }
    
    footer h2 {
        text-align: center;
        font-weight: 800;
        font-size: 2.4vh;
        letter-spacing: 0.1em;
        color: #000000;
        margin-top: 4vh;
    }
    
    .temn{
    display: flex;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    margin-top: 3.5vw;
    height: 30vh;
    position: absolute;
    bottom: 0;
    }
    
    .logo{
        margin-left: 10vw;
        margin-top: 11vw;
        height: 30%;
    }
    
    
    .icons {
        width: 50vw;
        margin-left: 8vw;
        margin-top: 15vw;
    }
    
    .icons img {
        height: 5vh;
        margin-left: 2.5vw;
    }
    
    footer p {
        margin-left: 15vw;
        font-size: 5vw;
        margin-top: 40vw;
        position: absolute;
        width: 80%;
    }
    


    

    
}